<form role="form" {{action "submit" on="submit"}}>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>{{t 'Create group'}}</h4>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <div class="input-group">
        <label for="name" class="input-group-addon">{{t 'Group name'}}</label>
        {{input id="name" name="name" value=group.name type="text" placeholder="Enter group name" required="true" classNames="form-control"}}
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <label for="privacity" class="input-group-addon">
          <span class="glyphicon glyphicon-lock"></span>
          {{t 'Privacity'}}
        </label>
        {{view Ember.Select name="Privacity" value=group.privacity optionValuePath="content.value" optionLabelPath="content.label" content=privacityList classNames="form-control"}}
      </div>
    </div>
    {{#if imageSelected}}
        {{we-image-crop src=salvedImage.urls.original file=salvedImage data=cropImageData}}
      {{else}}
        <div class="form-group">
          <div class="input-group">
             <label for="image" class="input-group-addon">{{t 'Group image'}}</label>
              {{image-upload multiple="false" files=files}}
          </div>
        </div>
      {{/if}}
  </div>
  <div class="panel-footer">
    {{#if imageSelected}}
      <button class="btn btn-primary" type="buttom" {{action 'cropAndSave'}}>Salvar grupo</button>
    {{else}}
      <button class="btn btn-primary" type="buttom" {{action 'selectFile'}}>Selecionar imagem</button>
    {{/if}}
  </div>
</div>
</form>